<section>
    <h2>Crie sua própria sala</h2>
    <form action="/create-room" method="POST">
        <!-- Esse label não ficará visível, existe pra ser ligado ao input e para que os 
             buscadores ajudem deficientes visuais numa descrição fácil -->
        <label class="sr-only" for="room-pass">Insira uma senha</label>
        <input type="password" name="password" id="room-pass" placeholder="Insira uma senha">
        <button>
            <img src="/images/users-white.svg" alt="Criar sala">
            Criar sala
        </button>
    </form>
</section>